@use "abstracts";

.post-box {
    @include abstracts.textBox(90%, 1rem 1.5rem, 1rem auto, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;

    h3 {
        font-size: 1.2em;
    }

    .sign-date {
        @include abstracts.grid(100%, 2);

        .sign,
        .date {
            font-size: 0.9em;
        }

        .sign {
            font-style: italic;
        }

        .date {
            text-align: right;
        }
    }

    p {
        margin-bottom: 0.3rem;
    }
}

.form-container {
    @include abstracts.textBox(90%, 1rem 1.5rem, 1rem auto 2rem, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;
}

#welcome-msg {
    font-size: 1.5em;
    margin: 1em auto 0.2em;
}

#user-info {
    font-size: 0.8em;
    text-align: center;
}

#ingress {
    text-align: center;
    font-weight: 600;
}

#error-msg {
    font-size: 0.8rem;
    color: red;
    text-align: center;
    margin-top: 0.3em;
}